.form-control {
  border-style: solid;
  border-width: 2px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #1ECBE1;
  text-align: left;
}
textarea {
  font-family: inherit;
  font-size: 100%;
}
.todo{
  border-style: solid;
  border-width: 5px;
  width: 35vw;
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;        

}

.input-buttons{
  float: right;
  margin-left: 0;
}
input[type=search] { 
	color: #1E6AE1;  
	text-align: right;
	cursor: pointer;
	display: block; 
	width: 35vw; 
	letter-spacing: 4px;        
	text-shadow: 0 0 2px black;       
	word-spacing: 20px;   
  margin-top: 0px;
  margin-left: 10px;  
  margin-bottom: 5px;
  border-radius: 8px;    
}

input[type=submit]{
  color: #fff;
  background-color: #1E6AE1;
  margin: 0.4rem;
  border-radius: 8px;
  border-bottom: white;
}
.text-description{
  margin: 6px;
  border-radius: 8px;
}
.text-date{
  margin: 5px;
  border-radius: 8px;
}
.text-title{
  margin: 6px;
  border-radius: 8px;
}
.text-priority{
  margin: 6px;
  border-radius: 8px;
}
label{
  font-weight: 900;
  float: left;
  font-size: medium;
}
.display-input{
  margin: 10px;
  background-color: #1ECBE1;
  border-style: solid;
  border-width: 2px;
  padding-top: 20px;
  border-style: solid;
  border-width: 2px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #1ECBE1;
  text-align: left;
}