*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  color:#fff;
  background-color: #688297;
  height: 100%;
}
.Container {
  align-items: center;
  padding: 20px ;
  display: flex;
}
.display-input{
  margin: 0;
}
.add-form{
  padding-left: 5px;
}